# Encender el motor de reescritura de las URL

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^assets/$ - [F,L]
RewriteRule ^assets/css/$ - [F,L]
RewriteRule ^assets/css/[^/]+\.php$ - [F,L]
RewriteRule ^assets/gifty/$ - [F,L]
RewriteRule ^assets/gifty/[^/]+\.php$ - [F,L]
RewriteRule ^assets/img/$ - [F,L]
RewriteRule ^assets/img/[^/]+\.php$ - [F,L]
RewriteRule ^assets/img/perfil/$ - [F,L]
RewriteRule ^assets/img/perfil/[^/]+\.php$ - [F,L]
RewriteRule ^assets/js/$ - [F,L]
RewriteRule ^assets/js/[^/]+\.php$ - [F,L]
RewriteRule ^assets/js/FileSaver/$ - [F,L]
RewriteRule ^assets/js/FileSaver/.github/$ - [F,L]
RewriteRule ^assets/js/FileSaver/dist/$ - [F,L]
RewriteRule ^assets/js/FileSaver/src/$ - [F,L]
RewriteRule ^assets/plugins/$ - [F,L]
RewriteRule ^assets/plugins/[^/]+\.php$ - [F,L]
RewriteRule ^assets/plugins/bootstrap/$ - [F,L]
RewriteRule ^assets/plugins/bootstrap/[^/]+\.php$ - [F,L]
RewriteRule ^assets/plugins/bootstrap/css/$ - [F,L]
RewriteRule ^assets/plugins/bootstrap/css/[^/]+\.php$ - [F,L]
RewriteRule ^assets/plugins/bootstrap/js/$ - [F,L]
RewriteRule ^assets/plugins/bootstrap/js/[^/]+\.php$ - [F,L]
RewriteRule ^assets/plugins/jquuery/$ - [F,L]
RewriteRule ^assets/plugins/jquuery/[^/]+\.php$ - [F,L]
RewriteRule ^assets/webfonts/$ - [F,L]
RewriteRule ^assets/webfonts/[^/]+\.php$ - [F,L]
RewriteRule ^content/ - [F,L]
RewriteRule ^guide/$ - [F,L]
RewriteRule ^libs/$ - [F,L]
RewriteRule ^libs/access/$ - [F,L]
RewriteRule ^libs/backup/ - [F,L]
RewriteRule ^libs/restore/ - [F,L]
RewriteRule ^test/ - [F,L]
RewriteRule ^vendor/ - [F,L]
RewriteRule ^view/$ - [F,L]
RewriteRule ^view/assets/ - [F,L]
RewriteRule ^view/vendor/$ - [F,L]
RewriteRule ^view/vendor/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/$ - [F,L]
RewriteRule ^view/vendor/bower_components/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/bootstrap/$ - [F,L]
RewriteRule ^view/vendor/bower_components/bootstrap/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/bootstrap/dist/$ - [F,L]
RewriteRule ^view/vendor/bower_components/bootstrap/dist/css/$ - [F,L]
RewriteRule ^view/vendor/bower_components/bootstrap/dist/fonts/$ - [F,L]
RewriteRule ^view/vendor/bower_components/bootstrap/dist/js/$ - [F,L]
RewriteRule ^view/vendor/bower_components/bootstrap/fonts/$ - [F,L]
RewriteRule ^view/vendor/bower_components/bootstrap/js/$ - [F,L]
RewriteRule ^view/vendor/bower_components/font-awesome/$ - [F,L]
RewriteRule ^view/vendor/bower_components/font-awesome/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/font-awesome/css/$ - [F,L]
RewriteRule ^view/vendor/bower_components/font-awesome/css/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/font-awesome/fonts/$ - [F,L]
RewriteRule ^view/vendor/bower_components/font-awesome/fonts/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/Ionicons/$ - [F,L]
RewriteRule ^view/vendor/bower_components/Ionicons/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/Ionicons/css/$ - [F,L]
RewriteRule ^view/vendor/bower_components/Ionicons/css/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/dist/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/dist/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/external/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/external/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/external/sizzle/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/external/sizzle/dist/$ - [F,L]

RewriteRule ^view/vendor/bower_components/jquery/src/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/src/[^/]+\.php$ - [F,L]

RewriteRule ^view/vendor/bower_components/jquery/ajax/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/ajax/var/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/attributes/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/core/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/core/var/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/css/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/css/var/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/data/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/data/var/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/deferred/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/event/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/exports/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/manipulation/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/manipulation/var/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/queue/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/traversing/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/traversing/var/$ - [F,L]
RewriteRule ^view/vendor/bower_components/jquery/var/$ - [F,L]

RewriteRule ^view/vendor/dist/$ - [F,L]
RewriteRule ^view/vendor/dist/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/dist/css/$ - [F,L]
RewriteRule ^view/vendor/dist/css/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/dist/css/alt/$ - [F,L]
RewriteRule ^view/vendor/dist/css/skins/$ - [F,L]
RewriteRule ^view/vendor/dist/css/skins/Nueva%20carpeta/$ - [F,L]
RewriteRule ^view/vendor/dist/img/$ - [F,L]
RewriteRule ^view/vendor/dist/img/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/dist/img/credit/$ - [F,L]
RewriteRule ^view/vendor/dist/js/$ - [F,L]
RewriteRule ^view/vendor/dist/js/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/dist/js/pages/$ - [F,L]
RewriteRule ^view/vendor/plugins/$ - [F,L]
RewriteRule ^view/vendor/plugins/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/plugins/chart/$ - [F,L]
RewriteRule ^view/vendor/plugins/chart/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/plugins/chart/dist/$ - [F,L]
RewriteRule ^view/vendor/plugins/DataTables/$ - [F,L]
RewriteRule ^view/vendor/plugins/DataTables/DataTables/$ - [F,L]
RewriteRule ^view/vendor/plugins/DataTables/DataTables/css/$ - [F,L]
RewriteRule ^view/vendor/plugins/DataTables/DataTables/images/$ - [F,L]
RewriteRule ^view/vendor/plugins/DataTables/DataTables/js/$ - [F,L]
RewriteRule ^view/vendor/plugins/select2/$ - [F,L]
RewriteRule ^view/vendor/plugins/select2/[^/]+\.php$ - [F,L]
RewriteRule ^view/vendor/plugins/select2/css/$ - [F,L]
RewriteRule ^view/vendor/plugins/select2/js/$ - [F,L]
RewriteRule ^view/vendor/plugins/select2/js/i18n/$ - [F,L]
RewriteRule ^view/vendor/plugins/sweetalert/$ - [F,L]
RewriteRule ^view/vendor/plugins/sweetalert/[^/]+\.php$ - [F,L]

RewriteRule ^libs/[^/]+\.php$ - [F,L]
RewriteRule ^libs/access/[^/]+\.php$ - [F,L]
RewriteRule ^view/[^/]+\.php$ - [F,L]
RewriteRule ^.+\.txt - [F,L]
RewriteRule ^.+\.xml - [F,L]
RewriteRule ^.+\.xlsx - [F,L]
RewriteRule ^.+\.json - [F,L]
RewriteRule ^.+\.lock - [F,L]
RewriteRule ^.+\.sql - [F,L]
RewriteRule ^.htaccess - [F,L]
RewriteRule ^htaccess - [F,L]
</IfModule>

RewriteRule .*\.(bmp|BMP|wav|mp3|wmv|avi||mpeg)$ - [F]

<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

<Files htaccess>
Order Allow,Deny
Deny from all
</Files>
